<div class="bg-[#F5F5F5] min-h-screen flex flex-col">
    <button class="fa fa-arrow-left flex p-4 align-top justify-start" (click)="backClicked()"></button>
    <div class="flex justify-center mb-5">
        <div>Overall Rating: {{avgOverallRating||0}} ({{totalRaters||0}})</div>
        <div class="flex pt-1 ml-2">
            <div class="flex" *ngFor="let star of [1,2,3,4,5]; let i = index">
                <i class="fa fa-star" [ngClass]="{'active': currentRating >= i + 1}">
                </i>
            </div>
        </div>
    </div>
    <div class="container max-w-sm mx-auto  flex flex-col items-center justify-center px-2">

        <div class="bg-white px-6 py-8 border-2 rounded shadow-md text-black w-max">
            <h1 class="mb-8 text-3xl text-center min-w-10">{{userDetails.firstName}} {{userDetails.lastName}}</h1>
            <div class="star-rating flex-col">
                <div class="flex justify-between" *ngFor="let criterion of getCurrentRatingKeys();let ind=index">
                    <div class="text-base flex items-center">{{ratingCriteria[ind]}}:</div>
                    <div class="flex pt-1.5 ml-5">
                        <div class="flex p-0.5" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                            <i class="fa fa-star" (click)="setRating(criterion, i + 1)"
                                [ngClass]="{'active': getRating(criterion) >= i+1 }"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit"
            class="w-40 mt-4 text-center py-3 rounded bg-green-500 text-white hover:bg-green-dark focus:outline-none my-1"
            (click)="submitRating()">submit rating</button>
    </div>

</div>