.star-rating {
    color: gray;
    /* Star color */
    font-size: 24px;
    /* Star size */
}

.star-rating i {
    cursor: pointer;
}

.star-rating i:hover,
.star-rating i.active {
    color: #ffcd07;
    /* Hover and active star color */
}

.active {
    color: #ffcd07;
}

.hovered {
    color: #ffcd07;
}

@media (min-width: 340px) and (max-width:750px) {

    .rating-chart-container {

        width: 96%;
        margin-bottom: 4%;
        /* Adjust as needed */
    }
}

.disabled {
    background-color: #ccc; /* Gray color */
    cursor: not-allowed; /* Change cursor to indicate button is disabled */
}