.star-rating {
    color: gray;
    /* Star color */
    font-size: 24px;
    /* Star size */
}

.star-rating i {
    cursor: pointer;
}

.star-rating i:hover,
.star-rating i.active {
    color: #ffcd07;
    /* Hover and active star color */
}

.active {
    color: #ffcd07;
  }

  .hovered {
    color: #ffcd07;
  }